{% extends 'base.html' %}

{% block title %}Home{% endblock %}
<!-- {2% block menu %}
		<a href="{% url 'certification82:documenteindex'%}">DOCUMENTE |</a>
		<a href="{% url 'certification82:index'%}">EZE |</a>
		<a href="{% url 'certification82:schutzindex'%}">SCHUTZ |</a>
		<a href="{% url 'certification82:trafoindex'%}">TRAFO |</a>
		<a href="{% url 'certification82:regelungindex'%}">REGELUNG |</a>
		{2% endblock %} -->
{% block content %}
{% if user.is_authenticated %}

	<p>DEAR {{ user.username }}! It is your home-page
		<p>You have access to project NR get val from sesssion maybe {{ user.Project_Nr }}!<br> It is oyur home-page
	<p>PROFILE SETTINGS:
	<p><a href="{% url 'password_change' %}">change password</a>
	<p><a href="{% url 'password_reset' %}">reset password</a>
	<p><br><p><a href="{% url 'certification82:allgeminfo' user.projekt_nr %}">Allgemeine Information |</a>





{% else %}
	<p>HOME You are not logged in</p>
	<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}