{% extends 'base.html' %}
login
{% block title %}Login{% endblock %}

{% block content %}
<h2>Bitte, Einloggen</h2>
<form method="post">
  <div class="">
	{% csrf_token %}
	{% for field in form %}
      <table class ='table-hover'>
        <tr ><td>{{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </td></tr>
      </table>
    {% endfor %}

    <button class ='col-md-2 alert btn btn-primary'type="submit">Einloggen</button>
  </div>
</form>
{% if user.admin == True %}
<p>Admin?</p>

<p><a href="{% url 'signup' %}">Bitte, Registrieren Neue Projekt</a></p>
{% endif %}
{% endblock %}