{% extends "base.html" %}
<!-- # detail which depends to the project id -->
{% block title %}
	Details index
{% endblock %}


{% block content %}

	
	{% for proj in project %}
	<div>
		<table border=2 class = "table-hover">
		
		
	</div>

		<p>Allgemeine Information zum Project: "{{ proj.project_name }}"</p>
		<!-- <table border=0 class="table table-hover"> -->
			<!-- <tr><th>{3{ #proj.Projekt_NrTexmarke }}:</th> <td> {3{ proj.project_number }}</td></tr> -->
			<!-- <tr><th>{3{ #proj.ProjekttitelTexmarke }}:</th> <td> {3{ proj.project_name }}</td></tr> -->
		<!-- </table> -->
	{% endfor %}
		<span class='col-md-6 ezeneu_left '>
			
		<table border=0 class="table table-hover col-md-6">
		
		{% for betr in betreiber %}
			{%if user.admin == True %}
			<tr class= "thead-light"><th >Info Betreiber für Admin:</th> <th>{{ betr.Zert_Firm }}</th><th>OK</th></tr>
			<tr ><th >{{betr.EZA_Betreiber_NameTextmarke}}:</th> <td><b>{{ betr.name }}</b></td>
			<td>{{ betr.nameOK }}</td></tr></tr>
			<tr><th>{{ betr.EZA_Betreiber_AnspreTextmarke }}:</th> <td> {{ betr.EZA_Betreiber_Anspre }}</td><td>{{ betr.EZA_Betreiber_AnspreOK }}</td></tr></tr>
			<tr><th>{{ betr.EZA_Betreiber_StrNrTextmarke }}:</th> <td> {{ betr.EZA_Betreiber_StrNr }}</td><td>{{ betr.EZA_Betreiber_StrNrOK}}</td></tr>
			<tr><th>{{ betr.EZA_Betreiber_PlzOrtTextmarke }}:</th> <td> {{ betr.EZA_Betreiber_PlzOrt }}</td><td>{{ betr.EZA_Betreiber_PlzOrtOK }}</td></tr></tr>
			<tr><th>{{ betr.EZA_Betreiber_TelTextmarke }}:</th> <td> {{ betr.EZA_Betreiber_Tel }}</td><td>{{ betr.EZA_Betreiber_TelOK }}</td></tr></tr>
			<tr><th>{{ betr.EZA_Betreiber_MailTextmarke }}:</th> <td> {{ betr.EZA_Betreiber_Mail }}</td><td>{{ betr.EZA_Betreiber_MailOK }}</td></tr></tr>
			<tr><th>{{ betr.Anlagenzert_NrTextmarke }}:</th> <td> {{ betr.Anlagenzert_Nr }}</td>
			<td>{{ betr.Anlagenzert_NrOK }}</td></tr></tr>
			<tr><th>{{ betr.Projekt_NrTextmarke }}:</th> <td> {{ betr.Projekt_Nr }}</td>
			<td>{{ betr.Projekt_NrOK }}</td></tr></tr>
			<tr><th>{{ betr.ProjekttitelTextmarke }}:</th> <td> {{ betr.Projekttitel }}</td>
			<td>{{ betr.ProjekttitelOK }}</td></tr></tr>
			<tr><td><!-- <a href="{% url 'certification82:betreiberdetailview' betr.id %}">View</a> -->	<a href="{% url 'certification82:betreiber_update' betr.id %}">Aktualisieren</a>	<!-- <a href="">Delete</a>--></td></tr>
			<tr><th></th></tr>
			{% endif %}

			<tr class= "thead-light">
				<th >Info Betreiber:</th> <th>{{ betr.Zert_Firm }}</th><th>OK</th>
				{% if user.admin == True %}
				<th>Textmarke</th></tr>
				{% endif %}
			<tr ><th >Ansprechpartner:</th> <td><b>{{ betr.name }}</b></td>
			{% if betr.nameOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ betr.nameOK }}</td></tr></tr>
			<tr><th>EZA-Betreiber:</th> <td> {{ betr.EZA_Betreiber_Anspre }}</td>

				{% if betr.EZA_Betreiber_AnspreOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}{{ betr.EZA_Betreiber_AnspreOK }}</td></tr></tr>
			<tr><th>Str, HausNr.:</th> <td> {{ betr.EZA_Betreiber_StrNr }}</td>
			{% if betr.EZA_Betreiber_StrNrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ betr.EZA_Betreiber_StrNrOK}}</td></tr>
			<tr><th>PLZ, Ort:</th> <td> {{ betr.EZA_Betreiber_PlzOrt }}</td>

			{% if betr.EZA_Betreiber_PlzOrtOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ betr.EZA_Betreiber_PlzOrtOK }}</td></tr></tr>
			<tr><th>Telefon:</th> <td> {{ betr.EZA_Betreiber_Tel }}</td>

			{% if betr.EZA_Betreiber_TelOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ betr.EZA_Betreiber_TelOK }}</td></tr></tr>
			<tr><th>E-Mail:</th> <td> {{ betr.EZA_Betreiber_Mail }}</td>
			{% if betr.EZA_Betreiber_MailOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ betr.EZA_Betreiber_MailOK }}</td></tr></tr>
			<tr><th>Anlagenzertifikat Nummer:</th> <td> {{ betr.Anlagenzert_Nr }}</td>
			{% if betr.Anlagenzert_NrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}{{ betr.Anlagenzert_NrOK }}</td></tr></tr>
			<tr><th>Projektnummer:</th> <td> {{ betr.Projekt_Nr }}</td>
			{% if betr.Projekt_NrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}{{ betr.Projekt_NrOK }}</td></tr></tr>
			<tr><th>{{ betr.ProjekttitelTextmarke }}:</th> <td> {{ betr.Projekttitel }}</td>
			{% if betr.ProjekttitelOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}{{ betr.ProjekttitelOK }}</td></tr></tr>
			<tr><td><!-- <a href="{% url 'certification82:betreiberdetailview' betr.id %}">View</a> -->	<a href="{% url 'certification82:betreiber_update' betr.id %}">Aktualisieren</a>	<!-- <a href="">Delete</a>--></td></tr>
			<tr><th></th></tr>

		{%endfor%}
			<br><tr><td><a href="{% url 'certification82:new_betreiber' %}">Neu Betreiber</a></td></tr>
			
		{% for zert in zertifikatsinhaber %}

			<tr class= "thead-light"><th >Info Zertifikatsinhaber:</th> <th>{{ zert.Zert_Firm }}</th><th>OK</th></tr>
			<tr ><th >{{ zert.EZA_BezeichnungTextmarke }}:</th> <td>{{ zert.EZA_Bezeichnung }}
				{% if zert.EZA_BezeichnungOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}{{ zert.EZA_BezeichnungOK }}</td></tr>
			</td></tr>
			<tr><th>{{ zert.Zert_PartTextmarke }}:</th> <td> {{ zert.Zert_Part }}</td>
			{% if zert.Zert_PartOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_PartOK }}</td></tr>
			<tr><th>{{ zert.Zert_FirmTextmarke }}:</th> <td> {{ zert.Zert_Firm }}</td>
			{% if zert.Zert_FirmOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_FirmOK }}</td></tr>
			<tr><th>{{ zert.Zert_NrTextmarke }}:</th> <td> {{ zert.Zert_Nr }}</td>
			{% if zert.Zert_NrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_NrOK }}</td></tr>
			<tr><th>{{ zert.Zert_PLZTextmarke }}:</th> <td> {{ zert.Zert_PLZ }}</td>
			{% if zert.Zert_PLZOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_PLZOK }}</td></tr>
			<tr><th>{{ zert.Zert_TelTextmarke }}:</th> <td> {{ zert.Zert_Tel }}</td>
			{% if zert.Zert_TelOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_TelOK }}</td></tr></tr>
			<tr><th>{{ zert.Zert_FaxTextmarke }}:</th> <td> {{ zert.Zert_Fax }}</td>
			{% if zert.Zert_FaxOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_FaxOK }}</td></tr>
			<tr><th>{{ zert.Zert_MailTextmarke }}:</th> <td> {{ zert.Zert_Mail }}</td>
			{% if zert.Zert_MailOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Zert_MailOK }}</td></tr>
			
			<tr><th>{{ zert.Projekt_NrTextmarke }}:</th> <td> {{ zert.Projekt_Nr }}</td>
			{% if zert.Projekt_NrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ zert.Projekt_NrOK }}</td></tr>
			<tr><td><a href="{% url 'certification82:zert_update' zert.id %}">Aktualisieren</a>
			</td></tr>
			<tr><th></th></tr>
		{%endfor%}
			
		{% for eze in netzbetreiber %}
			<tr class= "thead-light"><th >Info Netzbetreiber:</th> <th>{{ eze.NB_Name }}</th><th>OK</th></tr>
		
			<tr><th >{{ eze.NB_AnsprechTextmarke }}:</th> <td>{{ eze.NB_Ansprech }}
			{% if zert.NB_AnsprechOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_AnsprechOK }}</td></tr>
			</td></tr>
			<tr><th>{{ eze.NB_NameTextmarke }}:</th> <td> {{ eze.NB_Name }}</td>
			{% if zert.NB_NameOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_NameOK }}</td></tr>
			<tr><th>{{ eze.NB_StrTextmarke }}:</th> <td> {{ eze.NB_Str }}</td>
			{% if zert.NB_StrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_StrOK }}</td></tr>
			<tr><th>{{ eze.NB_PLZTextmarke }}:</th> <td> {{ eze.NB_PLZ }}</td>
			{% if zert.NB_PLZOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_PLZOK }}</td></tr>
			<tr><th>{{ eze.NB_TelTextmarke }}:</th> <td> {{ eze.NB_Tel }}</td>
			{% if zert.NB_TelOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_TelOK }}</td></tr>
			<tr><th>{{ eze.NB_FaxTextmarke }}:</th> <td> {{ eze.NB_Fax }}</td>
			{% if zert.NB_FaxOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_FaxOK }}</td></tr></tr>
			<tr><th>{{ eze.NB_MailTextmarke }}:</th> <td> {{ eze.NB_Mail }}</td>
			{% if zert.NB_MailOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.NB_MailOK }}</td></tr>
			
			<tr><th>{{ eze.Registriernummer_NBTextmarke }}:</th> 
				<td>{{eze.Registriernummer_NB }}</td>
			{% if zert.Registriernummer_NBOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.Registriernummer_NBOK }}</td></tr>
			
			<tr><th>{{ eze.Projekt_NrTextmarke }}:</th> <td> {{ eze.Projekt_Nr }}</td>
			{% if zert.Projekt_NrOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
			{{ eze.Projekt_NrOK }}</td></tr>
			<tr><td><a href="{% url 'certification82:eze_neu_show' eze.id %}">View</a>	<a href="">Aktualisieren</a>	<a href="">Delete</a></td></tr>
			<tr><th></th></tr>
		


			<tr><th></th></tr>
		{%endfor%}
			<br><tr><td><a href="{% url 'certification82:new_netzbetreiber' %}">Neu Netzbetreiber</a></td></tr>
			{% if user.admin == True %}
				<p>You are authenticated as {{ user }} - ADMINISTRATOR.
					{% for u in ProjectUser.objects.all %}
						USER: {{u}}
					{%endfor%}
			<br><tr><td><a href="{% url 'certification82:new_projekt' %}">Neu Projekt</a></td></tr>
			{%endif%}
		</table>
		</span>

{% endblock %}
