{% extends "base.html" %}
<!-- # detail which depends to the project id -->

{% block title %}
	Details index
{% endblock %}
{% block content %}

	<div class="jumbotron text-center">
		<h5>All EZEs of the Project</h5> <br> <h5>"{{ ezen.project_name }}"</h5>
		<br>
		<a href="{% url 'certification82:ezeneuwindkraftsoftheprojectindex' ezen.id %}">Neue WINDKRAFTS |</a>
		<a href="{% url 'certification82:ezeneufotooftheprojectindex' ezen.id  %}">Neue Fotovoltaics |</a>
		<a href="{% url 'certification82:ezeneugenoftheprojectindex' ezen.id %}">Neue Generators |</a>
		<a href="{% url 'certification82:ezebestwindoftheprojectindex' ezen.id %}">Bestandene WINDKRAFTS |</a>
		<a href="{% url 'certification82:ezebestfotooftheprojectindex' ezen.id %}">Bestandene Fotovoltaics |</a>
		<a href="{% url 'certification82:ezebestgenoftheprojectindex' ezen.id %}">Bestandene Generators |</a>
		
	</div>
		<span class='col-md-6 ezeneu_left'>
		<li class="list-group-item ">EZE Neu</li>
		<table border=2 class="table table-hover">

		{% for eze in eze %}
		{% if eze.ist_bestand != True %}
			
			<tr class="bg-warning" id="ezename"><th>Typ:</th> <td><b>{{ eze.eZeTyp }}</b></td></tr>
			<tr><th>{{ eze.VDE_EZE1_HerstTextmarke }}:</th> <td> {{ eze.eZeHersteller }}</td></tr>
			<tr><th>{{ eze.VDE_EZE1_TypTextmarke }}:</th> <td> {{ eze.eZeTyp }}</td></tr>
			<tr><th>{{ eze.VDE_EZE1_NameTextmarke }}:</th> <td> {{ eze.vDE_EZE1_Name }}</td></tr>
			<tr><th>{{ eze.VDE_EZE1_ZertNRTextmarke }}:</th> <td> {{ eze.vDE_EZE1_ZertNR }}</td></tr>
			{% if eze.VDE_EZE1_Motor %}
			<tr><th>{{ eze.VDE_EZE1_MotorTextmarke }}:</th> <td> {{ eze.VDE_EZE1_Motor }}</td></tr>{% endif %}
			{% if eze.VDE_EZE1_Generator %}
			<tr><th>{{ eze.VDE_EZE1_GeneratorTextmarke }}:</th> <td> {{ eze.VDE_EZE1_Generator }}</td></tr>
			{% endif %}
			<tr><th>{{ eze.VDE_EZE1_STextmarke }}:</th> <td> {{ eze.vDE_EZE1_S }}</td></tr>
			<tr><th>{{ eze.VDE_EZE1_PTextmarke }}:</th> <td> {{ eze.vDE_EZE1_P }}</td></tr>
			<tr><th>{{ eze.VDE_Anzahl_EZE1Textmarke }}:</th> <td> {{ eze.vDE_Anzahl_EZE1 }}</td></tr>
			{% if eze.name %}
			<tr><th>NAME:</th> <td> {{ eze.name }}</td></tr>
			{% endif %}
			<tr><th>ID:</th> <td> {{ eze.id }}</td> </tr>
			</table>
			<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' eze.id %}"><d class='text-light'>View<d/></a></button>
  				<button type="button" class="btn btn"><a href="{% url 'certification82:eze_update' eze.id %}"><d class='text-dark'>Edit<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:eze_delete' eze.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
			</div>
		{% endif %}
		{% endfor %}
		<br><button class="container bg-success btn"><a href="{% url 'certification82:new_eze_neu' %}"><d class='text-light'>+1 EZE: Neu<d/></a></button>
		
		</span>

		<span class='col-md-6 ezebestand_right'>
		<li class="list-group-item ">EZE Bestand</li>
		<table border=2 class = "table table-hover">
		
			<!-- here was eze besnad all togather using set function -->
			
		{% for ezebestwind in eze %}
		{% if ezebestwind.ist_bestand == True %}
		
			<tr class="bg-warning"><th >{{ezebestwind.VDE_EZE_Typ_AltTextmarke}}:</th> <td>{{ ezebestwind.eZeTyp }}</td></tr>
			<tr><th>{{ezebestwind.VDE_EZE_Bestand_ZahlTextmarke}}:</th> <td> {{ ezebestwind.VDE_EZE_Bestand_Zahl }}</td></tr>
			<tr><th>{{ezebestwind.VDE_EZE_Herst_AltTextmarke}}:</th> <td> {{ ezebestwind.eZeHersteller }}</td></tr>
			<tr><th>{{ ezebestwind.VDE_EZE_Typ_AltTextmarke }}:</th> <td> {{ ezebestwind.eZeTyp }}</td></tr>
			<tr><th>{{ ezebestwind.VDE_EZE_Name_ALTTextmarke }}:</th> <td> {{ ezebestwind.VDE_EZE_Name_ALT }}</td></tr>
			<tr><th title="Bemessungsscheinleistung in MVA">{{ ezebestwind.VDE_S_EZE_AltTextmarke }}:</th> <td> {{ ezebestwind.VDE_S_EZE_Alt }}</td></tr>
			<tr><th title="Bemessungswirkleistung">{{ ezebestwind.VDE_P_EZE_ALTTextmarke }}:</th> <td> {{ ezebestwind.VDE_P_EZE_ALT }}</td></tr>
			<tr><th title="Inbetriebnahmedatum">{{ ezebestwind.VDE_P_inbe_ALTTextmarke }}:</th> <td> {{ ezebestwind.VDE_P_inbe_ALT }}</td></tr>
			</table>	
			<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' ezebestwind.id %}"><d class='text-light'>View<d/></a>
				</button>
  				<button type="button" class="btn btn"><a href="{% url 'certification82:eze_update' ezebestwind.id %}"><d class='text-dark'>Edit<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:eze_delete' ezebestwind.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
			</div>
		{% endif %}
		{% endfor %}
		<br><button class="container bg-success btn alert"><a href="{% url 'certification82:new_eze_bestand' %}"><d class='text-light'>+1 EZE: Bestand<d/></a></button>
		
</div>

{% endblock %}
