{% extends "base.html" %}
<!-- # detail which depends to the project id -->

{% block title %}
	Details index
{% endblock %}
{% block content %}

	<div class="card text-center">
		{% for proj in ezen %}
		{% if proj.project_number == user.projekt_nr %}
		<h5>Projekt "{{ proj.project_name }}". EZE.</h5>
		<br>
		
	</div>
		<span class='card col-md-6 ezeneu_left'>
		<li class="list-group-item ">EZE Neu</li>
		
			<!-- <h1>proj.project_number == user.projekt_nr {4{ proj.project_number }} ID {{ proj.id }}</h1> -->
		
			{% for eze in eze %}
		
		{% if eze.project_id == proj.id %}
		{% if eze.ist_bestand != True %}
		<table border=0 class="col-md-3 table table-hover clear_both" >
	
			<tr class= "thead-light">
				{% if user.admin == True %}
				<th>Textmarke:</th>
				{% endif %}
				<th>Erklärung</th>
				<th>Information</th>
				<th>OK</th>
			</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_HerstTextmarke }}:</th>
				{% endif %}
				<th>Hersteller der EZE</th>
			 <td> {{ eze.eZeHersteller }}</td>
			 {% if eze.eZeHerstellerOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.eZeHerstellerOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_TypTextmarke }}:</th>
				{% endif %}
				<th>Typ der EZE</th>
				 <td> {{ eze.eZeTyp }}</td>
				 {% if eze.eZeTypOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				  {{ eze.eZeTypOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_NameTextmarke }}:</th>
				{% endif %}
				<th>Bezeichnung der EZE</th>
				 <td> {{ eze.vDE_EZE1_Name }}</td>
				 {% if eze.vDE_EZE1_NameOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.vDE_EZE1_NameOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_ZertNRTextmarke }}:</th>
				{% endif %}
				<th>Einheiten-zertifikat Nr.</th>
				 <td> {{ eze.vDE_EZE1_ZertNR }}</td>
				 {% if eze.vDE_EZE1_ZertNROK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.vDE_EZE1_ZertNROK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_MotorTextmarke }}:</th>
				{% endif %}
				<th>Motortyp für VKM</th>
				 <td> {{ eze.VDE_EZE1_Motor }}</td>
				 {% if eze.VDE_EZE1_MotorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.VDE_EZE1_MotorOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_GeneratorTextmarke }}:</th>
				{% endif %}
				<th>Generatortyp für VKM</th>
				 <td> {{ eze.VDE_EZE1_Generator }}</td>
				 {% if eze.VDE_EZE1_GeneratorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.VDE_EZE1_GeneratorOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_STextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-scheinleistung in MVA</th>
				 <td> {{ eze.vDE_EZE1_S }}</td>
				 {% if eze.vDE_EZE1_SOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.vDE_EZE1_SOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_EZE1_PTextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-wirkleistung in MW</th>
				 <td> {{ eze.vDE_EZE1_P }}</td>
				 {% if eze.vDE_EZE1_POK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				  {{ eze.vDE_EZE1_POK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ eze.VDE_Anzahl_EZE1Textmarke }}:</th>
				{% endif %}
				<th>Anzahl der EZE</th>
			 <td> {{ eze.vDE_Anzahl_EZE1 }}</td>
			 {% if eze.vDE_Anzahl_EZE1OK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ eze.vDE_Anzahl_EZE1OK }}</td></tr>
				 <tr>
				{% if user.admin == True %}
				<th>{{eze.VDE_EZE_Bestand_ZahlTextmarke}}:</th>
				{% endif %}
				<th>Anzahl Bestands-BHKW</th>
				 <td> {{ eze.VDE_EZE_Bestand_Zahl }}</td>
				 {% if eze.VDE_EZE_Bestand_ZahlOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ eze.VDE_EZE_Bestand_ZahlOK }}</td>
			</tr>

				 <tr>
				{% if user.admin == True %}
				<th title="Inbetriebnahmedatum">{{ eze.VDE_P_inbe_ALTTextmarke }}:</th>
				{% endif %}
				<th>Inbetrieb-nahmedatum</th>
				 <td> {{ eze.VDE_P_inbe_ALT }}</td>
			{% if eze.VDE_P_inbe_ALTOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ eze.VDE_P_inbe_ALTOK }}</td>
			</tr>
			<tr><th>ID:</th> <td> {{ eze.id }}</td><td></td> </tr>
			</table>
			<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn"><a href="{% url 'certification82:eze_update' eze.id %}"><d class='text-dark'>Aktualisieren<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' eze.id %}"><d class='text-light'>View<d/></a></button>
  				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:eze_delete' eze.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
				
			</div>
			{% endif %}
		{% endif %}
		{% endfor %}
		{% if user.admin == True %}
		<br><button class="container bg-success btn"><a href="{% url 'certification82:new_eze_neu' %}"><d class='text-light'>+1 EZE: Neu<d/></a></button>
		{% endif %}		
		</span>
<vr>
		<span class='card col-md-6 ezebestand_right clear_right'>
		<li class="list-group-item ">EZE Bestand</li>
		
			<!-- here was eze besnad all togather using set function -->
			
		{% for ezebestwind in eze %}
		{% if ezebestwind.project_id == proj.id %}
		{% if ezebestwind.ist_bestand == True %}
		<table border=0 class = "col-md-2 table table-hover">
			<tr class= "thead-light">
				{% if user.admin == True %}
				<th >Textmarke</th>
				{% endif %}

				<th>Erklärung</th><th>Information</th><th>OK</th>
			<tr>
				{% if user.admin == True %}
				<th>{{ezebestwind.VDE_EZE_Herst_AltTextmarke}}:</th>
				{% endif %}
				<th>Hersteller der EZE</th>
				 <td> {{ ezebestwind.eZeHersteller }}</td>
				{% if ezebestwind.eZeHerstellerOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ ezebestwind.eZeHerstellerOK }}</td>
			</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_EZE_Typ_AltTextmarke }}:</th>
				{% endif %} 
				<th>Typ der EZE</th>
				<td> {{ ezebestwind.eZeTyp }}</td>{% if ezebestwind.eZeTypOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ ezebestwind.eZeTypOK }}</td>
			</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_EZE_Name_ALTTextmarke }}:</th>
				{% endif %}
				<th>Bezeichnung der EZE</th>
				 <td> {{ ezebestwind.vDE_EZE1_Name }}</td>
				{% if ezebestwind.vDE_EZE1_NameOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ ezebestwind.vDE_EZE1_NameOK }}</td>
			</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_EZE1_ZertNRTextmarke }}:</th>
				{% endif %}
				<th>Einheiten-zertifikat Nr.</th>
				 <td> {{ ezebestwind.vDE_EZE1_ZertNR }}</td>
				 {% if ezebestwind.vDE_EZE1_ZertNROK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ ezebestwind.vDE_EZE1_ZertNROK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_EZE1_MotorTextmarke }}:</th>
				{% endif %}
				<th>Motortyp für VKM</th>
				 <td> {{ ezebestwind.VDE_EZE1_Motor }}</td>
				 {% if ezebestwind.VDE_EZE1_MotorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ ezebestwind.VDE_EZE1_MotorOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_EZE1_GeneratorTextmarke }}:</th>
				{% endif %}
				<th>Generatortyp für VKM</th>
				 <td> {{ ezebestwind.VDE_EZE1_Generator }}</td>
				 {% if ezebestwind.VDE_EZE1_GeneratorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ ezebestwind.VDE_EZE1_GeneratorOK }}</td>
				</tr>
			
			
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_S_EZE_AltTextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-scheinleistung in MVA</th>
				 <td> {{ ezebestwind.vDE_EZE1_S }}</td>
				 {% if ezebestwind.vDE_EZE1_SOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ ezebestwind.vDE_EZE1_SOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_P_EZE_ALTTextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-wirkleistung in MW</th>
				 <td> {{ ezebestwind.vDE_EZE1_P }}</td>
				 {% if ezebestwind.vDE_EZE1_POK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				  {{ ezebestwind.vDE_EZE1_POK }}</td></tr>
				  <tr>
				{% if user.admin == True %}
				<th>{{ ezebestwind.VDE_Anzahl_EZE1Textmarke }}:</th>
				{% endif %}
				<th>Anzahl der EZE</th>
			 <td> {{ ezebestwind.vDE_Anzahl_EZE1 }}</td>
			 {% if ezebestwind.vDE_Anzahl_EZE1OK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ ezebestwind.vDE_Anzahl_EZE1OK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ezebestwind.VDE_EZE_Bestand_ZahlTextmarke}}:</th>
				{% endif %}
				<th>Anzahl Bestands-BHKW</th>
				 <td> {{ ezebestwind.VDE_EZE_Bestand_Zahl }}</td>
				 {% if ezebestwind.VDE_EZE_Bestand_ZahlOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ ezebestwind.VDE_EZE_Bestand_ZahlOK }}</td>
			</tr>


			<tr>
				{% if user.admin == True %}
				<th title="Inbetriebnahmedatum">{{ ezebestwind.VDE_P_inbe_ALTTextmarke }}:</th>
				{% endif %}
				<th>Inbetrieb-nahmedatum</th>
				 <td> {{ ezebestwind.VDE_P_inbe_ALT }}</td>
			{% if ezebestwind.VDE_P_inbe_ALTOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ ezebestwind.VDE_P_inbe_ALTOK }}</td>
			</tr>
			<tr><th>ID:</th> <td> {{ ezebestwind.id }}</td><td></td> </tr>
			


			</table>

			<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn"><a href="{% url 'certification82:eze_update' ezebestwind.id %}"><d class='text-dark'>Aktualisieren<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' ezebestwind.id %}"><d class='text-light'>View<d/></a>
				</button>
  				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:eze_delete' ezebestwind.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		{% if user.admin == True %}
		<br><button class="container bg-success btn alert"><a href="{% url 'certification82:new_eze_bestand' %}"><d class='text-light'>+1 EZE: Bestand<d/></a></button>
		{% endif %}
		
</div>
		{%endif%}
		{%endfor%}

{% endblock %}
