{% extends "base.html" %}


{% block title %}
	Certification index
{% endblock %}
		
{% block content %}
	{% if neuwindkraft_name_list %}
		<h1>
		{% for item in neuwindkraft_name_list %}
		<!-- no more hardcoded href  appname:viewname-->
		<div for = "link" class="jumbotron text-center">
			<p><a name = "link" href="{% url 'certification82:ezeneuwinddetail' item.pk %}">{{ item.name }}</a></p>
		</div>
	{% endfor %}
	</h1>
	{% else %}
		<p>No windkrafts are available.</p>
	{% endif %}
{% endblock %}