{% extends "base.html" %}


{% block title %}
	Best. Foto details
{% endblock %}
		
{% block content %}
{%if document %}
	<table border=2 class="table-hover">

		<tr id="ezebname"><th >Document Name:</th> <td>{{ document.name }}</td></tr>
		<tr ><th >proofed:</th> <td>{{ document.proofed }}</td></tr>
		<tr ><th >comment:</th> <td>{{ document.comment }}</td></tr>
		<tr ><th >upload directory:</th> <td>{{ document.upload }}</td></tr>
		<tr ><th >dokument URL:</th> <td><a href="{{ document.upload.url }}">
		<button class="btn btn" action="">Read/Download "{{ document.name }}"
		</a>
		</td></tr>
		<tr><th></th></tr>
	</table>
	<br>
	</h1>
	<a class="alert bg-primary text-light " id = 'erst' href="{% url 'certification82:doc_update' document.pk %}">Aktualisieren: </a>
	{% if user.admin == True %}
			<a class="alert bg-primary text-light " id = 'del' href="{% url 'certification82:doc_delete' document.pk %}">Löschen: </a>
			<a class="alert bg-primary text-light " id = 'erst' href="{% url 'certification82:upload_doc' %}">Erstellen: </a>
			
	{% endif %}
{% else %}
		<p>No Documents are available.</p>
{% endif %}
	
{% endblock %}
