{% extends "base.html" %}


{% block title %}
	EZE detail
{% endblock %}
		
{% block content %}
{%if object %}
	<table border=0 class="table table-hover">
		
			<tr class= "thead-light">
				{% if user.admin == True %}
				<th>Textmarke:</th>
				{% endif %}
				<th>Erklärung</th>
				<th>Information</th>
				<th>OK</th>
			</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_HerstTextmarke }}:</th>
				{% endif %}
				<th>Hersteller der EZE</th>
			 <td> {{ object.eZeHersteller }}</td>
			 {% if object.eZeHerstellerOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.eZeHerstellerOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_TypTextmarke }}:</th>
				{% endif %}
				<th>Typ der EZE</th>
				 <td> {{ object.eZeTyp }}</td>
				 {% if object.eZeTypOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				  {{ object.eZeTypOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_NameTextmarke }}:</th>
				{% endif %}
				<th>Bezeichnung der EZE</th>
				 <td> {{ object.vDE_EZE1_Name }}</td>
				 {% if object.vDE_EZE1_NameOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.vDE_EZE1_NameOK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_ZertNRTextmarke }}:</th>
				{% endif %}
				<th>Einheiten-zertifikat Nr.</th>
				 <td> {{ object.vDE_EZE1_ZertNR }}</td>
				 {% if object.vDE_EZE1_ZertNROK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.vDE_EZE1_ZertNROK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_MotorTextmarke }}:</th>
				{% endif %}
				<th>Motortyp für VKM</th>
				 <td> {{ object.VDE_EZE1_Motor }}</td>
				 {% if object.VDE_EZE1_MotorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.VDE_EZE1_MotorOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_GeneratorTextmarke }}:</th>
				{% endif %}
				<th>Generatortyp für VKM</th>
				 <td> {{ object.VDE_EZE1_Generator }}</td>
				 {% if object.VDE_EZE1_GeneratorOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.VDE_EZE1_GeneratorOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_STextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-scheinleistung in MVA</th>
				 <td> {{ object.vDE_EZE1_S }}</td>
				 {% if object.vDE_EZE1_SOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.vDE_EZE1_SOK }}</td>
				</tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_EZE1_PTextmarke }}:</th>
				{% endif %}
				<th>Bemessungs-wirkleistung in MW</th>
				 <td> {{ object.vDE_EZE1_P }}</td>
				 {% if object.vDE_EZE1_POK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				  {{ object.vDE_EZE1_POK }}</td></tr>
			<tr>
				{% if user.admin == True %}
				<th>{{ object.VDE_Anzahl_EZE1Textmarke }}:</th>
				{% endif %}
				<th>Anzahl der EZE</th>
			 <td> {{ object.vDE_Anzahl_EZE1 }}</td>
			 {% if object.vDE_Anzahl_EZE1OK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %} {{ object.vDE_Anzahl_EZE1OK }}</td></tr>
				 <tr>
				{% if user.admin == True %}
				<th>{{object.VDE_EZE_Bestand_ZahlTextmarke}}:</th>
				{% endif %}
				<th>Anzahl Bestands-BHKW</th>
				 <td> {{ object.VDE_EZE_Bestand_Zahl }}</td>
				 {% if object.VDE_EZE_Bestand_ZahlOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ object.VDE_EZE_Bestand_ZahlOK }}</td>
			</tr>

				 <tr>
				{% if user.admin == True %}
				<th title="Inbetriebnahmedatum">{{ object.VDE_P_inbe_ALTTextmarke }}:</th>
				{% endif %}
				<th>Inbetrieb-nahmedatum</th>
				 <td> {{ object.VDE_P_inbe_ALT }}</td>
			{% if object.VDE_P_inbe_ALTOK == True %}
				 <td class="bg-success">
				 {% else %}
				 <td class="bg-danger">
				 {% endif %}
				{{ object.VDE_P_inbe_ALTOK }}</td>
			</tr>
			<tr><th>ID:</th> <td> {{ object.id }}</td><td></td><td></td> </tr>
			</table>
			<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn"><a href="{% url 'certification82:eze_update' object.id %}"><d class='text-dark'>Edit<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' object.id %}"><d class='text-light'>View<d/></a></button>
  				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:eze_delete' object.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
			</div>
		{% if user.admin == True %}
		<br><button class="container bg-success btn"><a href="{% url 'certification82:new_eze_neu' %}"><d class='text-light'>+1 EZE: Neu<d/></a></button>
		{% endif %}		
		
	
		</table>
{% else %}
		<p>Es sind keine EZE verfügbar.</p>
{% endif %}
	
{% endblock %}