{% extends "base.html" %}
<!-- # detail which depends to the project id -->

{% block title %}
	Details index
{% endblock %}
{% block content %}

	<div class="jumbotron text-center">
		<h2>Object "{{object.name}}" details: {{ object.project_name }}</h2> 	
		<br>

	</div>
		<span class='col-md-6 ezeneu_left '>
		<table border=2 class = "col-md-2 table table-hover">
					<tr class= "thead-light">
						{% if user.admin == True %}
						<th >Textmarke</th>
						{% endif %}

						<th>Erklärung</th><th>Information</th><th>OK</th>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_AnsprechTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Ansprech }}</td>
					 {% if object.NB_AnsprechOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_AnsprechOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_NameTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Name }}</td>
					 {% if object.NB_NameOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_NameOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_StrTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Str }}</td>
					 {% if object.NB_StrOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_StrOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_PLZTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_PLZ }}</td>
					 {% if object.NB_PLZOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_PLZOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_TelTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Tel }}</td>
					 {% if object.NB_TelOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_TelOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_FaxTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Fax }}</td>
					 {% if object.NB_FaxOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_FaxOK }}</td>
					</tr>
					<tr>			
					{% if user.admin == True %}
					<th>{{ object.NB_MailTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.NB_Mail }}</td>
					 {% if object.NB_MailOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.NB_MailOK }}</td>
					</tr>
										<tr>			
					{% if user.admin == True %}
					<th>{{ object.Registriernummer_NBTextmarke }}:</th>
					{% endif %}
					<th>Bemessungs-scheinleistung in MVA</th>
					 <td> {{ object.Registriernummer_NB }}</td>
					 {% if object.Registriernummer_NBOK == True %}
					 <td class="bg-success">
					 {% else %}
					 <td>
					 {% endif %} {{ object.Registriernummer_NBOK }}</td>
					</tr>

			<tr><th>ID:</th> <td> {{ object.id }}</td><td></td><td></td> </tr>
			
			
		</table>
		<div class="alert btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn"><a href="{% url 'certification82:netzbet_update' object.id %}"><d class='text-dark'>Edit<d/></a></button>
 
				{% if user.admin == True %}
				<button type="button" class="btn btn-primary"><a href="{% url 'certification82:ezedetailview' object.id %}"><d class='text-light'>View<d/></a>
				</button>
  				<button type="button" class="btn btn-danger"><a href="{% url 'certification82:netzbet_delete' object.id %}"><d class='text-light'>Delete<d/></a></button>

				{% endif %}
			</div>
		<br>
		<table border=2 class="table-hover">
		
			{% for proj in project %}
				{% if proj.project_Nr == object.project_Nr %}
					<tr id="ezename"><th >{{object.name}} BELONGS TO</th> <td><b>NEXT PROJECTS:</b></td></tr>
					<tr><th>NAME:</th> <td> {{ proj.project_name }}</td></tr>
					<tr><td><a href="{% url 'certification82:project_show' proj.id %}">Edit</a>	<a href="">Edit</a>
				{% endif %}

			{%endfor%}
			
		</table>
		
		</span>
	<br>

		
	<br>	
</div>

{% endblock %}
