{% extends "detail.html" %}
<% block eze_neu_left %>
<span class='col-md-6 ezeneu_left '>
		<h3>Eze Neues of the project:  "{{ ezen.project_name }}"</h3>
		<table border=2 class="table-hover">
			<tr id="ezename"><th >NEXT:</th> <td>EZENeu to delete maybe</td></tr>
			
		{% for eze in ezen.ezeneu_set.all %}

			<tr id="ezename"><th >EZE Neu NAME:</th> <td>{{ eze.vDE_EZE1_Name }}</td></tr>
			<tr><th>Hersteller der EZE--id:</th> <td> {{ eze.eZeHersteller }}</td></tr>
			<tr><th>Typ der EZE--id:</th> <td> {{ eze.eZeTyp }}</td></tr>
			<tr><th>Bezeichnung der EZE:</th> <td> {{ eze.vDE_EZE1_Name }}</td></tr>
			<tr><th>Einheitenzertifikat Nr.:</th> <td> {{ eze.vDE_EZE1_ZertNR }}</td></tr>
			<tr><th>Motortyp für VKM:</th> <td> {{ eze.vDE_EZE1_Motor }}</td></tr>
			<tr><th>Generatortyp für VKM:</th> <td> {{ eze.vDE_EZE1_Generator }}</td></tr>
			<tr><th>Bemessungsscheinleistung in MVA:</th> <td> {{ eze.vDE_EZE1_S }}</td></tr>
			<tr><th>Bemessungswirkleistung in MW:</th> <td> {{ eze.vDE_EZE1_P }}</td></tr>
			<tr><th>Anzahl der EZE:</th> <td> {{ eze.vDE_Anzahl_EZE1 }}</td></tr>

			<tr><th>NAME:</th> <td> {{ eze.name }}</td></tr>
			<tr><th>ID:</th> <td> {{ eze.id }}</td> </tr>
			<tr><td><a href="{% url 'certification82:eze_neu_show' eze.id %}">View</a>	<a href="">Edit</a>	<a href="">Delete</a></td></tr>
			<tr><th></th></tr>
		{%endfor%}
		</table>
		<table border=2 class="table-hover">
			<tr id="ezename"><th >NEXT:</th> <td>Windkrafts</td></tr>
		{% for ezenw in ezen.ezeneu_windkraft_set.all %}
			<tr id="ezename"><th >Windkraft Neu NAME:</th> <td>{{ ezenw.vDE_EZE1_Name }}</td></tr>
			<tr><th>Hersteller der EZE--id:</th> <td> {{ ezenw.eZeHersteller }}</td></tr>
			<tr><th>Typ der EZE--id:</th> <td> {{ ezenw.eZeTyp }}</td></tr>
			<tr><th>Bezeichnung der EZE:</th> <td> {{ ezenw.vDE_EZE1_Name }}</td></tr>
			<tr><th>Einheitenzertifikat Nr.:</th> <td> {{ ezenw.vDE_EZE1_ZertNR }}</td></tr>
			<tr><th>Bemessungsscheinleistung in MVA:</th> <td> {{ ezenw.vDE_EZE1_S }}</td></tr>
			<tr><th>Bemessungswirkleistung in MW:</th> <td> {{ ezenw.vDE_EZE1_P }}</td></tr>
			<tr><th>Anzahl der EZE:</th> <td> {{ ezenw.vDE_Anzahl_EZE1 }}</td></tr>
			<tr><th>ID:</th> <td> {{ ezenw.id }}</td> </tr>
			<tr><th>NAME:</th> <td> {{ ezenw.name }}</td></tr>
			<tr><td><a href="{% url 'certification82:eze_neu_show' ezenw.id %}">View</a>	<a href="">Edit</a>	<a href="">Delete</a></td></tr>
			<tr><th></th></tr>
		{%endfor%}
		</table>
		<table border=2 class="table-hover">
			<tr id="ezename"><th >NEXT:</th> <td>Fotovoltaics</td></tr>
			
		{% for ezefot in ezen.ezeneufotovoltaic_set.all %}
			<tr id="ezename"><th >Fotovoltaics NAME:</th> <td>{{ ezefot.vDE_EZE1_Name }}</td></tr>
			<tr><th>Hersteller der EZE--id:</th> <td> {{ ezefot.eZeHersteller }}</td></tr>
			<tr><th>Typ der EZE--id:</th> <td> {{ ezefot.eZeTyp }}</td></tr>
			<tr><th>Bezeichnung der EZE:</th> <td> {{ ezefot.vDE_EZE1_Name }}</td></tr>
			<tr><th>Einheitenzertifikat Nr.:</th> <td> {{ ezefot.vDE_EZE1_ZertNR }}</td></tr>
			<tr><th>Bemessungsscheinleistung in MVA:</th> <td> {{ ezefot.vDE_EZE1_S }}</td></tr>
			<tr><th>Bemessungswirkleistung in MW:</th> <td> {{ ezefot.vDE_EZE1_P }}</td></tr>
			<tr><th>Anzahl der EZE:</th> <td> {{ ezefot.vDE_Anzahl_EZE1 }}</td></tr>
			<tr><th>ID:</th> <td> {{ ezefot.id }}</td> </tr>
			<tr><th>NAME:</th> <td> {{ ezefot.name }}</td></tr>

			<tr><td><a href="{% url 'certification82:eze_neu_show' eze.id %}">View</a>	<a href="">Edit</a>	<a href="">Delete</a></td></tr>
			<tr><th></th></tr>
		{%endfor%}
		</table>
		<table border=2 class="table-hover">
			<tr id="ezename"><th >NEXT:</th> <td>Generators</td></tr>
			
		{% for ezegen in ezen.ezeneugenerator_set.all %}
			<tr id="ezename"><th >Generator NAME:</th> <td>{{ ezegen.vDE_EZE1_Name }}</td></tr>
			<tr><th>Hersteller der EZE--id:</th> <td> {{ ezegen.eZeHersteller }}</td></tr>
			<tr><th>Typ der EZE--id:</th> <td> {{ ezegen.eZeTyp }}</td></tr>
			<tr><th>Bezeichnung der EZE:</th> <td> {{ ezegen.vDE_EZE1_Name }}</td></tr>
			<tr><th>Einheitenzertifikat Nr.:</th> <td> {{ ezegen.vDE_EZE1_ZertNR }}</td></tr>
			<tr><th>Bemessungsscheinleistung in MVA:</th> <td> {{ ezegen.vDE_EZE1_S }}</td></tr>
			<tr><th>Bemessungswirkleistung in MW:</th> <td> {{ ezegen.vDE_EZE1_P }}</td></tr>
			<tr><th>Anzahl der EZE:</th> <td> {{ ezegen.vDE_Anzahl_EZE1 }}</td></tr>
			<tr><th>ID:</th> <td> {{ ezegen.id }}</td> </tr>
			<tr><th>NAME:</th> <td> {{ ezegen.name }}</td></tr>
			<tr><td><a href="{% url 'certification82:eze_neu_show' eze.id %}">View</a>	<a href="">Edit</a>	<a href="">Delete</a></td></tr>
			<tr><th></th></tr>
		{%endfor%}
		</table>
		</span>
		<% endblock eze_neu_left %>