{% extends "base.html" %}


{% block title %}
	Certification index
{% endblock %}
		
{% block content %}
	{% if betreiber_name_list %}
		{% if user.admin == False %}
		<h1>
			Information des Betreibers der Projekt  
		</h1><h1>
		{% elif user.admin == True %}
			<div class="card"> <div class="card-body">
			<table class="table"><tr><th>Betreiber</th><th>Projektnummer</th><th>Tittel</th><th>CRUD</th></tr>
		{% endif %}
		{% for item in betreiber_name_list %}
				{% if item.Projekt_Nr == user.projekt_nr %}
				<!-- no more hardcoded href  appname:viewname-->
				<div for = "link" class="jumbotron text-center">
					<p><a name = "link" href="{% url 'certification82:betreiberdetailview' item.pk %}">{{ item.name }}</a></p>
				</div>
				
				</h1>
				{% elif user.admin == True %}
				<!-- no more hardcoded href  appname:viewname-->
				<tr>
					<td><a name = "link" href="{% url 'certification82:betreiberdetailview' item.pk %}">{{ item.name }}</a></td><td>{{ item.Projekt_Nr }}</td><td>{{ item.Projekttitel }}</td>
					<th><a name = "link" href="{% url 'certification82:betreiberdetailview' item.pk %}">Aussehen</a></th>
					<th><a name = "link" href="{% url 'certification82:betreiber_update' item.pk %}">Aktualisieren</a></th>
					{% if user.admin == True %}
					<th><a name = "link" href="{% url 'certification82:betreiber_delete' item.pk %}">Löschen</a></th>
					</tr>
					{% endif %}
				{% endif %}
		{% endfor %}
		{% if user.admin == True %}
			</table></div></div>
		{% endif %}

	</h1>
	{% else %}
		<p>Hier gibt es kein Betreiber</p>
	{% endif %}
{% endblock %}