{% extends "base.html" %}


{% block title %}
	Certification index
{% endblock %}
		
{% block content %}
	{% if eze_name_list %}
		<table class="table col-md-3">
		<tr for = "link">
			<th>EZE</th>
			<th>Typ</th>
			<th>EZE ist bestand?</th>

			<th>Projekt</th>
			<th>Aktualisieren</th>
			<th>Löschen</th>
		</tr>
		{% for item in eze_name_list %}
		<!-- no more hardcoded href  appname:viewname-->

		<tr for = "link" class="">
			<td><a name = "link" href="{% url 'certification82:ezedetailview' item.pk %}">{{ item.vDE_EZE1_Name }}</a></td>
			<td>{{ item.eZeTyp }}</td>
			{% if item.ist_bestand == True %}
			<td class="bg-success text-light">
			{% else %}
			<td class="bg-danger">
			{% endif %}
			{{ item.ist_bestand }}</td>
			<td><a name = "link" href="{% url 'certification82:projectdetailview' item.project_id %}">{{ item.project }}</a></td>
			<td>

		<a class="text-secondary" id = 'erst' href="{% url 'certification82:eze_update' item.pk %}">Aktualisieren </a></td>
			{% if user.admin == True %}
			<td><a class="text-danger " id = 'del' href="{% url 'certification82:eze_delete' item.pk %}">Löschen </a>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	{% else %}
		<p>No transformators are available.</p>
	{% endif %}
	<a class="alert bg-primary text-light " id = 'erst' href="{% url 'certification82:new_trafo' %}">Erstellen: </a>
	
{% endblock %}